chardet==5.1.0
faiss-cpu==1.7.4
httpx==0.24.0
langchain==0.0.151
openai==0.27.5
pathspec==0.11.1
pinecone-client==2.2.1
PyPDF2==3.0.1
python-dotenv==1.0.0
python-magic==0.4.27
promptlayer==0.1.80
tiktoken==0.3.3
websockets==11.0.2
